@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #DBC7C4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.max-container {
  max-width: 108rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 40rem) {
  .max-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}